.banners-footer
    margin: 150px 0
    background: $cinza-claro
    padding: 50px 0

    +breakpoint ($celular)
        margin: 50px 0
    >.container
        >.cols 
            >.col
                &.-seiscolunas
                    +breakpoint ($celular)
                        margin: 0 0 15px 0
.rodape
    background: $cinza-escuro
    padding: 20px 0
    color: $branco
    margin: 100px 0 0
    >.container
        
        >.content-footer
            +flexbox
            +justify-content (space-beteween)

            +breakpoint ($celular)
                display: block

            >.item
                padding: 20px
                >h3 
                    text-transform: uppercase
                    +font-size (25px)
                    font-weight: $bold
                >.menu-rodape
                    >li 
                        margin: 7px 0
                        &:before
                            content: "\f105"
                            display: inline
                            font-family: 'fontawesome'
                            //width: 100%
                            //height: 1px
                            //background: $cinza
                            margin: 0 10px 0 0
                        >a 
                            color: $branco
                            &:hover 
                                color: $laranja
                >.telefone,
                &.-whatsapp
                    margin: 0 0 10px 0
                    &:before
                        font-family: 'fontawesome'
                        display: inline
                        color: $branco
                        margin: 0 10px 0 0
                >.telefone
                    &:before
                        content: "\f095"
                >.-whatsapp
                    &:before
                        content: "\f232"
                >.facebook,
                >.instagram
                    display: inline
                    >a 
                        color: $branco
                        margin: 0 20px 0 0 
                        +font-size (35px)
                        &:hover
                            color: $laranja
                >.cartoes
                    >i 
                        +font-size (25px)
                        color: $branco
                        margin: 0 20px 0 0
                        +font-size (35px)
        


        