.header-site
    background: 
        image: url('../img/bg-header-internas.jpg')
        position: center top 
        size: cover
        repeat: no-repeat
    height: 270px
    
    +breakpoint ($celular)  
        height: 400px
    >.barratopo
        background: $cinza-escuro        
        padding: 10px 0
        >.container
            >.menu-topo
                margin: 0
                >li 
                    display: inline
                    margin: 0 10px
                    position: relative
                    >a 
                        color: $cinza-claro

                        &:hover
                            color: $laranja

                    &:after                        
                        content: ""
                        display: inline
                        width: 1px
                        height: 100%
                        background: $cinza-claro
                        position: absolute
                        right: -10px
                        top: 1px
                    &:last-child
                        &:after
                            display: none
    >.container
        padding: 25px 0
        >.logo
            +make-md-column (3)
        >.login
            +make-md-column (4)
            +make-md-column-offset (4)
            text-align: right

            >.formlogin
                margin: 40px 0 0
                >.usuario,
                >.senha
                    display: table-cell
                >.usuario
                    padding: 0 10px 0 0
                    >input 
                        margin: 0 10px 0 0
                >.acao
                   margin: 15px 0
            >.cadastro
                >a 
                    color: $branco

                    &:hover
                        color: $laranja
                    &:before
                        content: "\f105"
                        font-family: 'Fontawesome'
                        display: inline
                        margin: 0 5px 0 0
    



        
       
