.navbar-site,
.navbar   
    +border-radius (0px !important)
.navbar-site
     background: $amarelo
     +breakpoint ($celular)        
        z-index: 9999
     >.container-fluid
        >.collapse
            >.container
                >.menu
                    >li 
                        >a 
                            text-transform: uppercase
                            font-weight: $bold
                            color: $link
        >.navbar-header
            >.navbar-toggle
                background: $laranja
                >.icon-bar
                    background: $branco

