//Modal customizado
.modal                    
    >.modal-dialog
        >.modal-content
            +border-radius (0px)               
                     
            >.modal-header
                text-transform: uppercase
                padding: 10px
                text-align: center
                >.modal-title
                    float: left
                    font-weight: $bold
                    color: $verde
                >.close
                    +font-size (35px)
                    color: $cinza
                    +opacity (1)
                    margin: 0 20px 0 0
            
            >.modal-body
                >label
                    color: $verde
                >.numero-pin
                    background: $verde
                    padding: 10px 20px
                    display: table
                    margin: 0 auto 20px auto
                    text-transform: uppercase
                    >h1 
                        margin: 0 
                        padding: 0
                        color: $branco
            >.modal-footer
                >.representante
                    margin: 10px 0 0
                    >a 
                        color: $verde
                        text-transform: uppercase
                        +font-size (25px)

                        &:before
                            content: "\f232"
                            font-family: 'fontawesome'
                            display: inline
                            margin: 0 10px 0 0
