.cols
    >.col
        >.box-sidebar
            //padding: 0 20px 0 0      
            >.painel-aposta
                //margin: 80px 30px 0 0
                >.header
                    background: $laranja
                    padding: 8px 0

                    >h3
                        text-transform: uppercase
                        color: $branco
                        +font-size (20px)
                        font-weight: $bold
                        text-align: center
                        padding: 0
                        margin: 0

                        &:before
                            content: "\f0d6"
                            font-family: 'Fontawesome'
                            display: inline
                            margin: 0 10px 0 0

                >.formulario-aposta
                    background: $cinza-claro
                    border-bottom: 2px solid $cinza
                    padding: 10px
                    >.item-aposta
                        //padding: 0 15px
                        //border: 1px solid $cinza
                        >.panel
                            >.panel-body
                                >ul 
                                    >.aposta 
                                        >.item
                                            +font-size (19px)
                                            margin: 5px 0
                        >.panelaposta                               
                            >.panel-heading
                                background-color: $verde
                                color: $branco

                        >.form-group
                            &.-cliente,
                            &.-acao
                                //+make-md-column(6)
                            &.-acao
                                margin: 10px 0 0
                                display: block
                                width: 100%
                                >.-grande
                                    padding: 11px 25px
                            >label 
                                color: $verde
                            >input[type="text"]
                                border: 1px solid $cinza
