//Slick Carousel
.slide-home
    >.slide       
        >.slick-list
            >.slick-track
                >.item
                    position: relative
                    >.content-slide
                        display: table
                        margin: 230px auto
                        text-align: center
                        position: relative
                        z-index: 2
                        +make-sm-column(4)   
                        +make-sm-column-offset(4)

                        +breakpoint ($celular)
                            margin: 100px auto

                        >i  
                            color: $branco
                            +font-size (45px)



                    &:before
                        content: ""
                        display: block
                        +background-opacity ($preto,.9)                        
                        width: 100%
                        position: absolute
                        top: 0
                        height: 100%
                        z-index: 1


                        
                >.slick-dots
                    bottom: 0
                    li 
                        height: 30px

                        >button 
                            color: $laranja                    
                            width: 15px
                            height: 15px

                            &:before
                                color: $branco
                                content: "\f111"
                                font-family: 'Fontawesome'
                                +font-size (25px)
                                border: 1px solid $verde
                                +border-radius (120px)

                    li.slick-active
                        >button 
                            &:before
                                color: $branco
                                content: "\f111"
                                font-family: 'Fontawesome'
                                +font-size (25px)
                                border: 1px solid $verde
                                +border-radius (120px)
        

        >.slick-prev,            
        >.slick-next
            z-index: 9999
            padding: 10px 3px 50px
            &:before                
                font-family: 'Fontawesome'
                z-index: 9999
                line-height: 40px
                +font-size (100px)

        >.slick-prev
            left: 20px
            &:before 
                content: "\f104"                
                color: $branco

                &:focus,
                &:hover
                    color: $branco
        >.slick-next
            right: 20px
            &:before
                content: "\f105"
                color: $branco

                &:focus,
                &:hover
                    color: $laranja


    

    