.cols
    >.col
        >.jogos-disponiveis
            //padding: 0 0 0 20px
            >.titulo-secao
                padding: 0 0 30px
                >h1 
                    text-transform: uppercase
                    color: $cinza-escuro
                    +font-size (35px)
                    font-weight: $bold
            >.nav-tabs
                border: none
                >li
                    margin: 0 10px 0 0
                    &:last-child
                        margin: 0
                    >a 
                        +border-radius (0px)
                        border: none
                        &:hover,
                        &focus
                            background: $laranja
                            color: $branco
                            border: none
                >.active
                    >a
                        background: $laranja
                        color: $branco
                        border: none
                
            