<section class="box-sidebar">
	<div class="painel-aposta">
		<div class="header">
			<h3><?= __('Cupom de aposta') ?></h3>
		</div>
		<div class="formulario-aposta">
			<?= $this->element('Forms/bilhetes-home-form_bilhete') ?>
		</div>
	</div>
</section>
