.botao, input[type="submit"]
    background: $verde
    padding: 8px 10px
    color: $branco
    border: none
    text-transform: uppercase
    font-weight: $bold
    font-family: 'Open Sans', sans-serif
    +border-radius (3px)

    &:hover,
    &:focus
        background: $laranja
        color: $branco 
    &.-cotacao,
    &.-destaque,
    &.-mais
        padding: 5px 10px
        +border-radius (5px)    

        &:hover
            background: $verde
            color: $branco    
    &.-cotacao
        background: $cinza-claro
        color: $link
        border: 1px solid $cinza

        &.-ativa
            background: $laranja  
            color: $branco

            &:before
                content: "\f00c"
                font-family: 'Fontawesome'
                display: inline
                color: $branco
                margin: 0 5px 0 0        
            
           
        
    &.-destaque
        background: $link
        color: $branco 
    &.-mais
        background: $laranja
        color: $branco
        padding: 6px 7px
    &.-animado
        position: relative
        &:after
            content: "\f105"
            font-family: 'Fontawesome'
            position: absolute
            right: 30px
            top: 15px
            +transition (.5s)
        
        &:hover
            &:after 
                right: 10px
                +transition (.5s)
    
    &.-laranja
        background: $laranja
        color: $branco

        +breakpoint ($celular)
            text-align: center  


        &:hover,
        &:focus,
        &:active
            color: $branco
            background: $cinza
    
    &.-medio 
        padding: 15px 50px
    &.-grande
        padding: 15px 25px
        display: block
        width: 100%    

        &:hover
            background: $laranja
            color: $branco
        &:active,
        &:focus
            background: $verde
            color: $branco 

    &.-login
        display: block
        width: 100%
        background: $laranja

        &:hover
            background: $verde   
        
    &.-scroll
        padding: 15px 30px
        position: fixed
        right: 40px
        display: none
        bottom: 75px
        +font-size (45px)
        +background-opacity ($laranja, .56)
        +border-radius (8px)
        &:hover
            +background-opacity ($laranja, .96)    

.dataTables_paginate
    >.pagination
        >.paginate_button
            cursor: pointer
            >a
                background: $cinza
                color: $link                
                border: $link
                &:hover
                    background: $laranja
        >.active
            >a 
                background: $link
                color: $branco

