input[type="text"], input[type="numeric"], input[type="search"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], input[type="tel"], input[type="date"], select, textarea
	border: 1px solid $cinza
	padding: 5px 10px
	color: $preto
	display: inline-block
	width: 100% 
	background: $branco
	+input-placeholder
		color: $cinza

	&:focus
		//border-color: $vermelho
		box-shadow: 1px 1px 4px $cinza-claro
select 
	padding: 4px

