@import molecules/mixins

.titulo-1,
.titulo-2,
.titulo-3,
.titulo-4,
.titulo-rodape,
.titulo-pagina
    text-transform: uppercase
    color: $verde
    font-family: 'Open Sans', sans-serif
    margin: 0
    font-weight: $bold
    
.titulo-1
    +font-size (60px)

    &.-slide
        color: $branco
        +font-size (85px)

        &:after
            display: table
            height: 4px
            background: $laranja
            content: ""
            width: 20%
            margin: 15px auto

    +breakpoint ($celular)
        +font-size (50px)

    &.-escuro
        color: $verde

    &.-branco
        color: $branco
        text-align: center 
            
.titulo-2
    +font-size (55px)

    +breakpoint ($celular)
        +font-size (30px)
.titulo-3
    +font-size (45px)
    &.-branco
        color: $branco
        margin: 0
        +font-size (45px)
.titulo-4
    +font-size (22px)

    &.-left
        text-align: left
.titulo-rodape
    color: $branco
    +font-size (30px)

.titulo-pagina
    +font-size (35px)

    

.tagline
    font-family: 'Gabriela', serif
    margin: 0
    position: relative


    &.-slide
        color: $laranja
        +font-size (45px)

        &:after,
        &:before
            content: ""
            height: 4px
            background: $cinza
            margin: 20px auto
            width: 20%
            position: absolute
            top: -5px
        
        &:before
            left: -60px
        &:after
            right: -60px
            
    &.-pagina
        color: $cinza-escuro
        +font-size (22px)

    