<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Painel do administrador
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="alert alert-info">
		Olá, <strong>seja bem vindo</strong> ao painel do administrador do betsertão.
		<br>
		Em breve colocaremos aqui algumas funções e gráficos para facilitar a sua vida
	</div>
</section>