<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Home
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	Content
</section>