.container
    >.page-header
        padding: 20px 0 0
    >.formulario
        +make-md-column (8)
        >.acao
            +clearfix
            margin: 30px 0
    >.publicidade
        +make-md-column (4)
        background: $cinza-claro
        padding: 10px
        >p 
            display: table
            margin: 50% auto
            text-transform: uppercase
    