.slide-home
    background: 
        image: url('../img/bg-header-home.jpg')
        position: center top 
        size: cover
        repeat: no-repeat
    height: 520px

    +breakpoint ($celular)
        height: 400px

    >.box-chamada
        //display: table
        //margin: 170px auto   
        padding: 75px   
        +breakpoint ($celular)
           padding: 190px 0 0
        >.container
            >.titulo,
            >p                 
                width: 370px

                +breakpoint ($celular)
                    width: 100%
                    text-align: center
            >.titulo
                text-transform: uppercase
                color: $amarelo
                +font-size (75px)
                font-weight: $bold
                +breakpoint ($celular)
                   +font-size (45px)
            >p 
                color: $branco
                +font-size (25px)
.conteudo-site
    >.container
        >.content
            position: relative
            margin: 0 0 150px 0
            +box-shadow (0px 0px 3px $preto)
            
            +breakpoint ($celular)
                margin: 0 0 30px 0
            >.banner
                background: $branco
                position: absolute
                top: -100px
                padding: 20px
                +border-radius (5px)

                +breakpoint ($celular)
                    display: none
    
.content-left
    >.header
        background: $verde-claro
        text-transform: uppercase
        color: $branco
        padding: 8px
        >h3
            +font-size (20px)            
            padding: 0
            margin: 0
            font-weight: $bold
        
                                            
                                                            

            
                            

