.container
    >.publicidade
        padding: 10px
        background: $cinza-claro
        width: 768px
        height: 100px
        display: table
        margin: 50px auto
        >p 
            text-align: center
            text-transform: uppercase
            margin: 30px 0 0
    >.conteudo
        +make-row
        >.textos
            +make-md-column (10)