main 
    >.container
        >.header-secao
            display: table
            margin: 0 auto 30px

            +breakpoint ($celular)
                margin: 30px auto

        >.area-texto
            +make-row
            margin: 20px 0
            >.texto                
                +make-sm-column (8)
                +make-sm-column-offset (2)
                //text-align: center

                +breakpoint ($celular)
                    >p 
                        text-align: center

            

