.busca-sidebar
    >input[type="search"]
        border: 1px solid $verde
        padding: 7px
        +border-radius (0px)
        color: $preto
        display: inline-block
        width: 100% 
        background: none

