//Estilos comuns em todas as seções
.header-pagina
    min-height: 250px
    height: 100%
    width: 100%
    position: relative
    overflow: hidden
    background: $verde

    &:after
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        +background-opacity ($preto, .8)

    >.titulo-pagina
        display: table
        margin: 100px auto
        color: $branco
        position: absolute
        z-index: 3
        width: 100%
        text-align: center
        font-size: 50px
        font-weight: $bold
.header-secao
    display: table
    margin: 50px auto

    >.acao
        display: table
        margin: 50px auto 0 auto


        



