/* ======== Cores */
$preto: #222
$branco: #fff
$cinza: #dfdfdf
$cinza-claro: #f4f4f4
$cinza-escuro: #211f1f
$verde: #006608
$verde-claro: #77b300
$laranja: #f19800
$link: #570805
$amarelo: #fec61e
$marrom: #570805



/* ======== Secoes */
$subfooter: #122932


/* ======== Font */
$light: 300
$regular: 400
$bold: 700

$celular: max-width 440px
$tablet: max-width 991px


=filter($filter-type,$filter-amount)
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})')
  -moz-filter: $filter-type+unquote('(#{$filter-amount})')
  -ms-filter: $filter-type+unquote('(#{$filter-amount})')
  -o-filter: $filter-type+unquote('(#{$filter-amount})')
  filter: $filter-type+unquote('(#{$filter-amount})')

=flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

=gradient($angle,$gradient1, $gradient2)
  background-color: $gradient2 
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2))
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2)
  background-image:    -moz-linear-gradient($angle, $gradient1, $gradient2)
  background-image:     -ms-linear-gradient($angle, $gradient1, $gradient2)
  background-image:      -o-linear-gradient($angle, $gradient1, $gradient2)
  background-image:         linear-gradient($angle, $gradient1, $gradient2)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}')

/* ======== Outros */
=transition($transition...) 
  -moz-transition:    all $transition linear
  -o-transition:      all $transition linear
  -webkit-transition: all $transition linear
  transition:         all $transition linear
  


=border-radius($radius) 
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@function calculateRem($size) 
  $remSize: $size / 16px
  @return $remSize * 1rem

=font-size($size) 
  font-size: $size
  font-size: calculateRem($size)

=opacity($opacity) 
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)

/* ======== Background Color Opacity */
=background-opacity($color: #000, $opacity: 0.85) 
  background: $color
  background: rgba($color, $opacity)


/* ======== Columns */
=columns($count: 3, $gap: 10) 
  @include css3-prefix('column-count', $count)
  @include css3-prefix('column-gap', $gap)

  // --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
@mixin flexbox() 
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex


// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) 
  -webkit-box-flex: $values
     -moz-box-flex: $values
      -webkit-flex: $values
  	  -ms-flex: $values
  	      flex: $values


// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) 
  -webkit-flex-direction: $direction
     -moz-flex-direction: $direction
      -ms-flex-direction: $direction
          flex-direction: $direction


// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) 
  -webkit-flex-wrap: $wrap
     -moz-flex-wrap: $wrap
      -ms-flex-wrap: $wrap
          flex-wrap: $wrap

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) 
  -webkit-flex-flow: $flow
     -moz-flex-flow: $flow
      -ms-flex-flow: $flow
          flex-flow: $flow

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) 
  -webkit-box-ordinal-group: $val  
     -moz-box-ordinal-group: $val     
  	     -ms-flex-order: $val     
  	      -webkit-order: $val  
  		      order: $val


// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) 
  -webkit-flex-grow: $grow
     -moz-flex-grow: $grow
      -ms-flex-grow: $grow
          flex-grow: $grow


// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) 
  -webkit-flex-shrink: $shrink
     -moz-flex-shrink: $shrink
      -ms-flex-shrink: $shrink
          flex-shrink: $shrink


// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) 
  -webkit-flex-basis: $width
     -moz-flex-basis: $width
      -ms-flex-basis: $width
          flex-basis: $width


// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) 
  -webkit-justify-content: $justify
     -moz-justify-content: $justify
      -ms-justify-content: $justify
          justify-content: $justify


// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align)
  -webkit-align-content: $align
     -moz-align-content: $align
      -ms-align-content: $align
          align-content: $align


// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) 
  -webkit-align-items: $align
     -moz-align-items: $align
      -ms-align-items: $align
          align-items: $align


// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align)
  -webkit-align-self: $align
     -moz-align-self: $align
      -ms-align-self: $align
          align-self: $align


//Triangulos 

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false)
    //@include pseudo($pos: $position)
    width: 0
    height: 0
    @if $round 
        border-radius: 3px
    
    @if $direction == down
        border-left: $size solid transparent
        border-right: $size solid transparent
        border-top: $size solid $color
        margin-top: 0 - round( $size / 2.5 )
        
    @else if $direction == up 
      border-left: $size solid transparent
      border-right: $size solid transparent
      border-bottom: $size solid $color
      margin-bottom: 0 - round( $size / 2.5 )

    @else if $direction == right 
      border-top: $size solid transparent
      border-bottom: $size solid transparent
      border-left: $size solid $color
      margin-right: -$size
        
    @else if  $direction == left 
      border-top: $size solid transparent
      border-bottom: $size solid transparent
      border-right: $size solid $color
      margin-left: -$size

@mixin input-placeholder
    &.placeholder 
      @content
    &:-moz-placeholder      
      @content 
    &::-moz-placeholder
      @content
    &:-ms-input-placeholder
      @content
    &::-webkit-input-placeholder
      @content





