.intro
    +flexbox
    +justify-content (space-around)
    color: $branco

    +breakpoint ($celular)
        display: block
        text-align: center

    >.box-intro
        background: $verde
        padding: 35px 0

        &.-inverso
            background: $verde
        >.container
            >.box-texto
                //+flexbox
                //+justify-content (flex-end)
                    +make-sm-column (6)
                    +make-xs-column (12)
                    padding: 0
                    margin: 0
                    text-align: right
                >.texto                   
                    font-family: 'Roboto', 'sans-serif'
                    font-weight: $bold
                    +font-size (45px)
                    text-align: right
                    margin-right: 20px

                    +breakpoint ($celular, $tablet)
                        display: block
                        text-align: center
                        margin: 0
            >.itens
                +make-sm-column (6)
                +make-xs-column (12)
                padding: 0
                margin: 0
                text-align: right
                >.item
                    +make-sm-column (4)
                    +make-xs-column (12)
                    text-align: center
                    margin: 15px 0 0

                    +breakpoint ($celular, $tablet)                        
                        text-align: center

                    >.numero
                        +font-size (45px)
                        display: block
                        font-weight: $bold
                        +flex-direction (row)
                    >.descricao
                        display: block
                        +font-size (25px)
                        +flex-direction (column)
    
.chamada-acao
    background: 
        image: url(../images/bg-acao-contato.jpg)
        repeat: no-repeat
        size: cover
        //attachment: fixed
        position: top center
    min-height: 240px
    padding: 70px 0
    margin: 120px 0 0   

    +breakpoint ($celular, $tablet)
        background: 
            image: url(../images/bg-acao-contato.jpg)
            repeat: repeat
            size: cover
            //attachment: fixed
            position: top center
    >.container
        >.textwidget
            text-align: center
            display: table
            margin: 0 auto
            >.textoacao
                +make-sm-column (6)
                +make-xs-column (12)
                >.textochamada
                    color: $branco
                    +font-size (55px)
                    text-align: right
                    text-transform: uppercase
                    font-weight: $bold
                    margin: 10px 0 0

                    +breakpoint ($celular, $tablet)
                        +make-sm-column (12)
                        text-align: center
                    
            >.botaoacao
                    +make-md-column (4)
                    text-align: right
                    margin: auto
                    >.botao
                        text-align: center
                        >.textopequeno
                            margin: 0
                            +font-size (22px)
                            display: block
                        >.telefone
                            +font-size (45px)
                            font-weight: $bold
                        >br 
                            display: none

.area-revendedor
        +make-row
        >.container
            >.revendedor
                +make-sm-column (10)
                +make-sm-column-offset (1)
                text-align: center
                margin: 95px 0
                >.textwidget
                    >p 
                        >img 
                            +img-responsive
