.toggle-radio-buttons
  >.header-partidas
    background: $verde
    color: $branco
  >thead 
    >tr
      >.sorting_asc,
      >.sorting
        &:after
          content: "\f160" !important
          font-family: 'Fontawesome' !important
          color: $branco
          display: inline
      >.sorting_desc,
      >.sorting
        &:after
          content: "\f161" !important
          font-family: 'Fontawesome' !important
          color: $branco
          display: inline
      >th         
        text-align: center

        &:first-child
          text-align: left

  >tbody
    >tr 
      >td 
        border: 1px solid $cinza-claro
        vertical-align: middle !important
        text-align: center
        padding: 8px 5px !important

        &:first-child
          text-align: left

.partida
  color: $link
  font-weight: $bold
  display: block
.hora
  +font-size (20px)
  color: $cinza-escuro
  display: block

  &:before
    content: "\f017"
    font-family: 'Fontawesome'
    display: inline
    margin: 0 5px 0 0

.cotacao 
    >label 
      display: inline-block
      padding: 6px 14px
      background: $cinza-claro
      color: $link
      border: 1px solid $cinza
      color: $link
      +border-radius (3px)

      &:hover 
        cursor: pointer


    >input:checked + label
      background: $laranja  
      color: $branco

      &:before
        content: "\f00c"
        font-family: 'Fontawesome'
        display: inline
        color: $branco
        margin: 0 3px 0 0 

    >input   
      height: 0
      width: 0
      border: 0
      overflow: hidden
.dataTables_wrapper
    >.row
      >.col-sm-12
        >.resultado-filtro
          >.header-resultado
              background: $verde
              padding: 10px
              color: $branco
              text-transform: uppercase
              font-weight: $bold                                    
          >td   
              vertical-align: middle                                         
              >.itens-resultado  
                  align-items: center
                  border-bottom: 1px solid $cinza-claro
                  padding: 5px 0
                  
              >.collapse
                  padding: 0                                    
                  >.content
                      >.header
                          background: $amarelo                                            
                          padding: 10px
                          display: block
                          width: 100%                                            
                          >h3 
                              color: $link
                              text-transform: uppercase
                              +font-size (25px)
                              font-weight: $bold
                              margin: 0
                      >.opcao
                          >li                                               
                              padding: 10px 0
                              +clearfix
                              background: $cinza-claro
                              margin: 0 0 2px 0
                              border-bottom: 1px solid $cinza

                              &:last-child
                                  border-bottom: 0px
                              >label
                                  float: left
                                  margin: 8px 0 0 10px
                              >button
                                  float: right
                                  margin: 0 10px 0 0
.box-opcao
  //padding: 15px
  >.header-opcao
    >h3 
      background: $laranja
      display: block
      width: 100%
      padding: 10px 15px
      color: $branco
      +font-size (25px)
      text-transform: uppercase
      font-weight: $bold
  >.content-opcao
    background: $cinza-claro
    +clearfix
    >.itemopcao
      +make-md-column (6)
      >label 
        margin: 0      
      >.texto
        float: left
        padding: 10px 0      
      >.acao
        float: right
        position: relative
        margin: 5px 0 0
.dataTables_filter
  >label
    color: $branco    
    position: relative

    &:before
        content: "\f002"
        font-family: 'FontAwesome'
        position: absolute
        left: 75px
        top: 5px
        +font-size (20px)
        color: $cinza   

    >input[type="search"]
      color: $verde
      background: transparent
      text-indent: 18px
      +font-size (20px)


      

      
        

  



